---
# YAML Front Matter
---

@import 'bootstrap';

$faded-gray: #333;
$rr-green-light: #81D135;
$rr-green-dark: #437414;
$rr-brown: #8A572E;

// Bootstrap overrides
.navbar-static-top {
    margin-bottom: 0;
    background-color: #222;
    border: none;

    a {
        color: #eee;
        &:hover,
        &:focus {
            color: #fff;
            background-color: $faded-gray !important;
        }
    }

    .dropdown-menu {
        background-color: $faded-gray;
        color: #eee;
        border: none;
        border-top-right-radius: 5px;
        a {
            color: #eee;
            &:hover,
            &:focus {
                color: #fff;
                background-color: #444 !important;
            }
        }
    }

    input {
        border-color: #eee;
    }

    .input-group-btn > button {
        color: #eee;
        border-color: #eee;
        background-color: transparent;
        padding: 6px 20px 7px 20px;
        &:hover,
        &:focus {
            color: #fff;
            background-color: $faded-gray;
        }
    }
}

.navbar-fixed-top {
    margin-bottom: 0;
    background-color: #222;
    border: none;

    -webkit-box-shadow: 0px 10px 20px 5px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 10px 20px 5px rgba(0,0,0,0.4);
    box-shadow: 0px 10px 20px 5px rgba(0,0,0,0.4);
    
    a {
        color: #eee;
        &:hover,
        &:focus {
            color: #fff;
            background-color: $faded-gray !important;
        }
    }

    .dropdown-menu {
        background-color: $faded-gray;
        color: #eee;
        border: none;
        border-top-right-radius: 5px;
        a {
            color: #eee;
            &:hover,
            &:focus {
                color: #fff;
                background-color: #444 !important;
            }
        }
    }

    input {
        margin-top: 3px;
        height: 35px;
        border-color: #eee;
    }

    .input-group-btn > button {
        color: #eee;
        border-color: #eee;
        background-color: transparent;
        margin-top: 3px;
        padding: 4px 20px 4px 20px;
        &:hover,
        &:focus {
            color: #fff;
            background-color: $faded-gray;
        }
    }
}

.navbar-brand {
    padding: 8px $navbar-padding-horizontal 0px $navbar-padding-horizontal;
    @media (max-width: $screen-sm-max) {
        padding-top: 10px;
    }
}

.search {
    padding: 4px 13px;
}

.btn-primary, .btn-default {
    border-color: #333;
    &:hover {
        background-color: #444;
    }
    @media (max-width: $screen-sm-max) {
        font-size: 13pt;
    }
}

html {
    @media (max-width: $screen-phone) {
        $font-size-base: 11pt;
    }
}

header {
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
    box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.1) inset;
}

h1, h2, h3 {
    font-family: "Roboto Slab";
}

// ----

.home-header {
	padding: 15% 15% 15% 15%;
	color: #fff;
	height: 100vh;
	margin: 0;
    @media (max-width: $screen-sm-max) {
        padding-top: 50%;
        padding-bottom: 30%;
    }

    img {
        margin-left: -10px;
        width: 50%;
        @media (max-width: $screen-sm-max) {
            width: 100%;
        }
    }
    h2 {
        padding-left: 30px;
        @media (max-width: $screen-sm-max) {
            padding-left: 10px;
            font-size: 20pt;
        }
    }
    > .page-header {
        border-color: $gray-lighter;
    }
}

.article-header {
	padding: 5% 20% 5% 20%;
	color: #eee;
	margin: 0;
    > .page-header {
        border-color: $gray-lighter;
    }
    @media (max-width: $screen-sm-max) {
        padding: 20% 10% 10% 10%;
        
    }
}

.content {
    padding: 70px 15% 50px 15%;
    min-height: 90vh;
    overflow: auto;
    @media (max-width: $screen-sm-max) {
        padding: 50px 5% 50px 5%;
    }
}

.article {
    padding: 0px 10% 50px 10%;

    @media (max-width: $screen-tablet) {
        padding: 0px 3% 30px 3%;
    }
    > .page-header {
        > h1 {
            @media (max-width: $screen-sm-max) {
                font-size: 25pt;
            }
        }
    }
    h2 {
        @media (max-width: $screen-sm-max) {
            font-size: 20pt;
        }
    }
}

.facebook {
    background-color:#3B5998; 
    padding: 3px 4px 0px 8px;
    margin: 0px 0px 0px 4px;
    border: transparent; 
    color:white; 
    border-radius: 3px;
    line-height: 1;
    position: relative;
    top: 2px;
    right: 2px;
    > i {
        position: relative;
        top: 1px;
    }
}

.footer {
    height: 10vh;
    padding: 15px 20%;
    background-color: $gray-darker;
    color: #eee;
    @media (max-width: $screen-sm-max) {
        padding: 10px 15% 10px 10%;
    }
}

.background {
    background-attachment: fixed;
    position: absolute;
    height: 100vh;
    width: 100%;
    background-size: cover;
    box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.1) inset;
    z-index: -10;
}

.copyright {
    line-height: 1;
    padding-top: 10px;
    @media (max-width: $screen-sm-max) {
        font-size: 10pt;
    }
}

.down-arrow {
    color: #eee;
    width: 50px;
    text-align: center;
    padding: 3px 3px 1px;
    border-radius: 3px;
    background: linear-gradient($faded-gray, $faded-gray);
    position: relative;
    left: 47%;
    top: 70%;
    @media (max-width: $screen-sm-max) {
        left: 40%;
    }
}

.rtBibleRef {
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}