


html {
	width: 100% !important;
}

body {
	background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)) , url(../images/autumn-1678028_1920.jpg) !important;
	background-attachment: fixed;
	background-size: cover;
	font-family: "Open Sans" !important;
	font-size: 12pt !important;
	width: 100% !important;
	padding-top: 50px;
}

.footer {
	background-color: #222;
	height: 70px;	
	color: #ccc;
}

.content {
	margin: 0px 200px !important;
}

.content > .col-xs-12 {
	padding: 50px !important;
}

@media (max-width:1000px) {
	.content {
		margin: 0px 100px !important;
	}

	.content > .col-xs-12 {
		padding: 30px !important;
	}
}

@media (max-width:800px) {
    #carousel-example-generic {
        display:none !important;
    }

	.content {
		margin: 0px 15px !important;
	}

	.content > .col-xs-12 {
		padding: 15px !important;
	}

	.copyright {
		font-size: 8pt !important;
	}
}

.carousel {
	height: 500px !important;
	width: 100% !important;
}

.carousel-inner {
	height: 100% !important;
	width: 100% !important;
}

.bottom-nav-btn {
	padding: 0 !important;
}

.bottom-nav-btn > .btn-group > .btn:first-child:not(:last-child) {
	border-top-left-radius: 0 !important;
	border-right: solid 1px #222;
	padding: 20px;
}

.bottom-nav-btn > .btn-group > .btn:last-child:not(:first-child) {
  	border-top-right-radius: 0 !important;
	border-left: solid 1px #222;
  	padding: 20px;
}

.navbar {
	-webkit-box-shadow: 0px 10px 26px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 10px 26px 3px rgba(0,0,0,0.5);
	box-shadow: 0px 10px 26px 3px rgba(0,0,0,0.5);
}

/*.navbar-nav > li > a, .navbar-form, .navbar-collapse {
    padding-top:30px !important; padding-bottom:0px !important;
    height: 80px;
}
.navbar-brand {padding-top: 10px !important;}
.navbar {min-height:50px !important;}*/

/*a:link {
	text-decoration:none;
}
a:hover#me {
	color:white;	
}
a:visited {
	color: black;
}
div#header {
	background-color:#4466ac;
	color:white;
	position:fixed;
	top:-1em;
	left:3.5em;
	padding-left: 1.8em;
	padding-top: 2.3em;
	padding-bottom: -2em;
	height:7.2em;
	width:24em;
	z-index:1;
	font-size: 12pt;
}
div#header2 {
	background-color:#000073;
	color:white;
	position:fixed;
	top:-1em;
	left:3.5em;
	padding-left: 1.8em;
	padding-top: 2.3em;
	padding-bottom: -2em;
	height:7.2em;
	width:75em;
	z-index:0;
	font-size: 12pt;
}
div#title {
	position:fixed;
	font-family: "Exo-Light";
	font-size: 50pt;
	color:white;
	z-index: 1;
}
div#icon {
	background-color: #4466ac;
	position:fixed;
	top: -1em;
	left: -1em;
	padding-left: 2em;
	padding-top: 1.8em;
	height:7.7em;
	width:4em;
	z-index:1;
}
#img {
	height: auto;
	width: auto;
	max-height: 5.3em;
}
img#icon {
	height:5em;
	width:5em;
}*/
