---
layout: default
---

<div class="home">

  {% include home-header.html %}
  <div class="header-background">
    <div class="page-header">
      <h1 id="home-title">{{page.subtitle}}</h1>
    </div>
  </div>
  <div class="profile-image">
  <main class="content">
    <div class="article">
      <div >
        <div class="page-header">
            <h2>My name is Byron Hager</h2>
        </div>
          <p>
            First and foremost, I am a follower of Christ. I care more than I can express and less than I should about God and my fellow brothers. I'm currently a student on my last semester at Texas A&M University studying Computer Science with a minor in Mathematics. 
          </p>
          <p>
            This website is a personal site intended to be a showcase for work that I've done and thoughts that I have. It will likely always be a WIP. 
          </p>
      </div>
      <br>
      {{content}}
    </div>
  </main>
  </div>
</div>