---
layout: default
---

<div class="home">

  {% include home-header.html %}
  <div class="header-background">
    <div class="page-header">
      <h1 id="home-title">{{page.subtitle}}</h1>
    </div>
  </div>
  <div class="profile-image">
  <main class="content">
    <div class="article">
      <div >
        <div class="page-header">
            <h2>about myself</h2>
        </div>
          <p>
            Developer by day. Philosopher by night. Full time truth seeker.
          </p>
          <p>
            I classify myself as a Christian and I believe everyone's pursuit should be for the truth of it all. I don't think many things are obvious and those that should be are often overlooked. 
          </p>
      </div>
      <br>
      {{content}}
    </div>
  </main>
  </div>
</div>