---
layout: default
---

<div>

  {% include home-header.html %}
  
  <main class="content">
    <div class="col-xs-12">
      <div class="article">
        <div class="page-header">
          <h1><b>{{page.title}}</b></h1>
        </div>
        <br>
          {{ content }}
        <br>
      
        <a class="btn btn-lg btn-block btn-primary" href="/climb">Start climbing</a>
        <br>
        <br>
        {% for article in site.articles %}
          <li><a href="{{article.permalink}}">{{article.title}} - {{article.subtitle}}</a></li>
        {% endfor %}
        <!--<br><br>
        <a class="btn btn-lg btn-primary" href="/bootstrap-only-site/home.html">Bootstrap only site</a>-->
      </div>
    </div>
  </main>
</div>